body {
  background-image: url("https://64.media.tumblr.com/eb545ba5a7e0c42a8983757341a6b559/0c3e9c08e1feff56-22/s500x750/29f826d886aabf1c1a14102a4323ecee6ef9d795.gifv");
  background-repeat: repeat;
}

header {
  text-align: center;
  color: gray;
  font-family: "Raleway", sans-serif;
}
h1 {
  margin: 50px;
  margin-top: 10px;
  font-family: Century Gothic;
  font-color: white;
}
.h1:hover {
  color: white;
}
h2 {
  display: inline;
  margin: 50px;
  margin-top: 1px;
  font-size: 19px;
}

.button {
  display: inline;
  width: 150px;
  border-radius: 20px;
  border-color: white;
  font-size: 23px;
  background-color: Transparent;
  background-repeat: no-repeat;
  overflow: hidden;
}
button:hover {
  color: white;
}
footer {
  text-align: center;
  color: gray;
  font-family: "Raleway", sans-serif;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 90px;
  padding: 60px;
  height: 400px;
  width: 900px;

  border-radius: 15px;
  border-color: white;
  background-color: rgba(219, 216, 216, 0.5);
}
.enter-city {
  background: #f9f7fe;
  border: none;
  border-radius: 6px;
  color: rgba(39, 33, 66, 0.4);
  display: inline-block;
  font-size: 16px;
  height: 50px;
  line-height: 150px;
  padding: 15px 20px;
}
.currentPlace {
  display: inline;
  margin: 50px;
  margin-bottom: 10px;
  width: 400px;
  height: 50px;
  border-radius: 17px;
}
.weather-munich {
  right: 220px;
  position: absolute;
  font-size: 70px;
  display: inline;
}
.row {
  text-align: center;
}
.col {
  display: inline;
}
.degreesnow {
  font-size: 26px;
}
.fheit {
  right: 150px;
  position: absolute;
  font-size: 20px;
  display: inline;
}

.sun {
  font-size: 50px;
}
.degree-week {
  font-size: 15px;
}
