body {
  background-image: url("https://64.media.tumblr.com/eb545ba5a7e0c42a8983757341a6b559/0c3e9c08e1feff56-22/s500x750/29f826d886aabf1c1a14102a4323ecee6ef9d795.gifv");
  background-repeat: repeat;
}

header {
  text-align: center;
  color: gray;
  font-family: "Raleway", sans-serif;
  margin-bottom: 5px;
}
h1 {
  margin: 0px;
  padding: 0;
  margin-left: 0;
  margin-top: 10px;
  margin-bottom: 0px;
  font-family: Century Gothic;
  color: white;
  font-size: 38px;
  font-weight: 700;
}

.h1:hover {
  color: white;
}
h2 {
  display: inline-block;
  text-align: right;
  margin-left: 6px;
  margin-top: none;
  margin-bottom: 5px;
  font-size: 19px;
  padding: none;
}
button {
  border: none;
  border-radius: 10px;
  font-size: 14px;
  padding: 7px;
  margin-left: 300px;
}
button:hover {
  color: rgb(58, 47, 154);
}

footer {
  text-align: center;
  color: gray;
  font-family: "Raleway", sans-serif;
  margin-top: 0;
  padding: 0;
}
form {
  display: inline-block;
}
.kanji {
  font-size: 50px;
  color: white;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 0;
  padding: 65px;
  height: 520px;
  width: 900px;

  border-radius: 15px;
  border-color: white;
  background-color: rgba(219, 216, 216, 0.5);
}
.date {
  text-align: right;
  position: absolute;
  margin-bottom: 20px;
  right: 150px;
}
.enter-city {
  background: #f9f7fe;
  border: none;
  border-radius: 6px;
  color: rgba(39, 33, 66, 0.4);
  display: inline-block;
  font-size: 16px;
  height: 50px;
  line-height: 150px;
  padding: 7px 20px;
  margin: 5px;
}
.theCity {
  margin-left: 0;
}
.row {
  text-align: center;
}
.col {
  display: inline;
}
.degreesnow {
  font-size: 26px;
  margin-left: 370px;
}
.fheit {
  right: 150px;
  font-size: 20px;
  display: inline;
}
.alldegrees {
  position: absolute;
}
.humidityandwind {
  font-size: 18px;
  margin: 0;
  padding: 0;
  font-family: Century Gothic;
}
